@viewport { width: device-width }

@font-face {
  font-family: 'Odibee Sans';
  src: url('Odibee_Sans/OdibeeSans-Regular.ttf') format('truetype');
}

body {
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-family: 'Odibee Sans';
  letter-spacing: 0.1em;
  cursor: default;
  text-shadow: 5px 5px 3px black, -5px -5px 3px black, 5px -5px 3px black, -5px 5px 3px black;
}

#background {
  background: url(/images/stars.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: brightness(25%);
  z-index: -1
}

#band-name-container { float:left; height: 15vh }

#band-name { max-width: 10vw; height: 15vh }

#socials {
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 0;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  background: transparent;
  z-index: 1
}

#social {
  width: 3vw;
  filter: grayscale(100%);
  text-align: left;
  background: black
}

#social:hover {
  filter: grayscale(0%);
  filter: brightness(75%);
}

#social:active {
  filter: grayscale(0%);
  filter: brightness(100%);
  transition: all 0.2s ease;
}

.main-content {
  text-align: justify;
  font-size: 150%;
  padding-left: 15%;
  padding-right: 15%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quotes {
  font-size: 70%;
  font-style: italic;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  text-align: center
}

.center { text-align: center }

.shadow-one { 
  box-shadow: 15px 15px 15px black, 
              15px -15px 15px black, 
              -15px -15px 15px black, 
              -15px 15px 15px black 
}

.photo {
  height: 75vh;
  box-shadow: 20px 20px 20px black, 
              20px -20px 20px black, 
              -20px -20px 20px black, 
              -20px 20px 20px black
}

.photo-outer {
  height: 75vh;
}

iframe {
  height: 75vh; 
  width: 58vw;
}

#video-navigator {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 90vh;
  justify-content: center;
  background: transparent;
  align-content: center;
  border: none
}

#caption {
  font-size: 150%;
  background: transparent;
  width: 25%;
  text-align: center;
}

#gig-image-container {
  max-height: 75vh;
  background: black
}

#gig-image {
  max-height: 75vh
}

#gig-caption {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center
}

#email {
  font-size: 200%
}

/* .border {
  border: 1px dashed white
} */

#tabs {
  position: absolute;
  top: 25%;
  bottom: 25%;
  width: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  background: transparent;
}

.tab {
  filter: brightness(50%);
  font-size: 200%;
  font-style: italic;
  background: transparent;
  color: rgb(0, 174, 239);
  transition: all 0.1s ease;
}

.tab:hover {
  cursor: inherit;
  filter: brightness(75%);
  transition: all 0.2s ease;
}

.tab:active {
  filter: brightness(100%);
  transition: all 0.1s ease;
}

::-moz-placeholder { 
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-style: italic;
  font-size: 150%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-style: italic;
  font-size: 150%;
}

:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-style: italic;
  font-size: 150%;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-style: italic;
  font-size: 150%;
}

#submit-button {
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-size: 100%;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto
}

#message-box {
  width: 30vw;
  height: 30vh;
}

.contact-info { width: 30vw }

#message-conf {
  position: absolute;
  top: 90vh;
  left: 0;
  right: 0;
  margin: auto
}

#login-conf {
  position: absolute;
  top: 67vh;
  left: 0;
  right: 0;
  margin: auto  
}

#test-button {
  z-index: -20
}

#contact-header {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto
}

.nav-button {
  filter: brightness(50%);
  background: black;
  width: 3vw;
  height: 3vw;
  transition: all 0.1s ease;
  box-shadow: 5px 5px 5px black, 
              5px -5px 5px black,
              -5px -5px 5px black,
              -5px 5px 5px black;
  border: none
}

.nav-button:hover {
  filter: brightness(75%);
  transition: all 0.2s ease;
}

.nav-button:active {
  filter: brightness(100%);
  transition: all 0.1s ease;
}

#play-button {
  grid-area: grid-play;
  position: relative;
  left: 0.1vw;
}

#play-icon {
  width: 100%
}

#pause-button {
  grid-area: grid-play;
}

#pause-icon {
  width: 100%
}

#player-previous { grid-area: grid-previous }

#previous-icon { width: 100% }

#player-next { grid-area: grid-next }

#next-icon { width: 100% }

#song-name {
  grid-area: grid-name;
  font-size: 200%;
  text-align: center;
  padding-bottom: 1vh
}

.music-navigator {
  display: grid;
  grid-template-areas: "grid-image grid-image grid-image"
                       "grid-name grid-name grid-name"
                       "grid-previous grid-play grid-next";
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 10vw;
}

button:focus {
  border: none;
  outline: none;
}

a:focus {
  border: none;
  outline: none
}

#news {
  width: 50vw;
  height: 50vh
}

#date {
  text-align: center;
}

/* admin page */

#list-news {
  display: block;
  color: white;
  position: absolute;
  top: 20vh;
  left: 5vh;
  overflow: hidden;
  width: 50%
}

#admin-news-preview {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap; 
  font-size: 150%
}

#add-news {
  position: fixed;
  right: 5vw;
  top: 0;
  text-align: center
}

#logout-button {
  position: absolute;
  top: 1vh;
  right: 1vh
}

#news-conf { font-size: 150% }

/* EPK page */

#song-image {
  width: 10vw
}