@viewport { width: device-width }

@font-face {
  font-family: 'Odibee Sans';
  src: url('Odibee_Sans/OdibeeSans-Regular.ttf') format('truetype');
}

body {
  color: white;
  box-sizing: border-box;
  font-family: 'Odibee Sans';
  letter-spacing: 0.1em;
  cursor: default;
}

#background {
  background: url(images/stars.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: brightness(25%);
  z-index: -1
}

#band-name {
  height: auto;
  width: 10%;
}

#social {
  width: 3vw;
  filter: grayscale(100%);
  text-align: left
}

#social:hover {
  filter: grayscale(0%)
}

.main-content {
  text-align: justify;
  font-size: 150%;
  padding-left: 15%;
  padding-right: 15%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quotes {
  font-size: 70%;
  font-style: italic;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin: auto
}

.center { text-align: center }

#single-photo {
  height: 75vh;
}

iframe {
  height: 75vh; 
  width: 75vw;
}

#video-navigator {
  display: flex;
  margin-top: 2%;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center
}

#caption {
  font-size: 150%;
  background: black;
  width: 25%;
  text-align: center;
}

#gig-image {
  height: 75vh
}

#gig-caption {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0
}

#email {
  font-size: 200%
}

#contact {
  font-size: 150%;
  text-align: center
}

#previous {
  left: 15%;
  background-image: url("/images/previous-button.jpg");
}

#next {
  right: 15%;
  background-image: url("/images/next-button.jpg");
}

.nav-button {
  height: 4.7vh;
  width: 2.2vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  filter: brightness(50%);
  border: none
}

.nav-button:hover {
  filter: brightness(100%);
}

#tabs {
  position: absolute;
  top: 20%;
  bottom: 20%;
  width: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
  background: black;
}

#socials {
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 0;
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  background: black;
  z-index: 1
}

#tab {
  filter: brightness(50%);
  font-size: 200%;
  font-style: italic;
  background: black;
  color: rgb(0, 174, 239);
}

#tab:hover {
  cursor: pointer;
  filter: brightness(100%);
}

::-moz-placeholder { 
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-style: italic;
  font-size: 150%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-style: italic;
  font-size: 150%;
}

:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-style: italic;
  font-size: 150%;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-style: italic;
  font-size: 150%;
}

#submit-button {
  font-family: 'Odibee Sans';
  letter-spacing: 0.03em;
  font-size: 100%;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin: auto
}

#message-box {
  width: 30vw;
  height: 30vh;
}

.contact-info { width: 30vw }

#message-sent {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin: auto
}

#test-button {
  z-index: -20
}