/* @viewport { width: device-width }

@font-face {
  font-family: 'Odibee Sans';
  src: url('Odibee_Sans/OdibeeSans-Regular.ttf') format('truetype');
}

body {
  color: white;
  background: black;
  box-sizing: border-box;
  font-family: 'Odibee Sans';
  letter-spacing: 0.1em;
} */

.grid-template-container {
  /* display: grid;
  grid-template-rows: 2fr 10fr 1fr;
  grid-template-areas: "grid-header grid-socials"
                       "grid-content grid-content"
                       "grid-tabs grid-socials"; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#banner {
  width: 90%
  /* grid-area: grid-header */
}

/* #single-photo {
  height: 350px;
  padding: 10px
}

#tab {
  text-align: center;
  height: fit-content
}

#tab-text {
  margin: auto auto;
  text-justify: center;
}

#tabs {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 150%;
  font-style: italic;
  grid-area: grid-tabs
}

.content-container {
  margin: auto;
  display: flex;
  grid-area: grid-content
}

.content {
  text-align: justify;
  font-size: 150%;
  padding-left: 7%;
  padding-right: 11%
}

#tab:hover {
  color: rgb(226, 32, 118)
} */
/* 226, 32, 118 for pink, 169, 222, 240 for blue */

/* .center { text-align: center } */

#socials {
  /* grid-area: grid-socials; */
  width: 5%;
}

#social {
  width: 100%;
  filter: grayscale(100%);
}

#social:hover {
  filter: grayscale(0%)
}

/* #padding {
  margin: 0.7%
} */