@viewport { width: device-width }

@font-face {
  font-family: 'Odibee Sans';
  src: url('Odibee_Sans/OdibeeSans-Regular.ttf') format('truetype');
}

body {
  color: white;
  background: black;
  box-sizing: border-box;
  font-family: 'Odibee Sans';
  letter-spacing: 0.1em;
  padding: 1%
}

/* .grid-template-container { CURRENTLY NOT USED
  /* display: grid;
  grid-template-rows: 2fr 10fr 1fr;
  grid-template-areas: "grid-header grid-socials"
                       "grid-content grid-content"
                       "grid-tabs grid-socials";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

#banner {
  width: 95%;
  float: left
  /* grid-area: grid-header */
}

#single-photo {
  height: 350px;
  padding: 10px
}


#tabs {
  display: flex;
  justify-content: space-around;
  font-size: 150%;
  font-style: italic;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black
  /* grid-area: grid-tabs */
}

.main-content {
  text-align: justify;
  font-size: 150%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%
}

#tab:hover {
  color: rgb(226, 32, 118)
}

/* 226, 32, 118 for pink, 169, 222, 240 for blue */

.center { text-align: center }

#socials {
  /* grid-area: grid-socials; */
  width: 5%;
  float: right
}

#social {
  width: 100%;
  filter: grayscale(100%);
}

#social:hover {
  filter: grayscale(0%)
}
/* 
#margin {
  margin: 0.7%;
} */

#quotes {
  font-size: 70%;
  font-style: italic;
  position: relative;
  top: 10vh
}